@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap"); /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.heading {
  color: var(--neutral-color-1);
  line-height: normal;
}
.heading--main {
  font-size: 2rem;
  margin-block-end: 1rem;
}
.heading--sub {
  margin-block-end: 1rem;
}
.heading--tertiary {
  font-size: 1.25rem;
  margin-block-end: 0.55rem;
}

.text-content {
  color: var(--neutral-color-2);
  font-size: var(--fs-body);
}

:root {
  --primary-color-1: hsl(171, 66%, 44%);
  --primary-color-2: hsl(233, 100%, 69%);
  --neutral-color-1: hsl(210, 10%, 33%);
  --neutral-color-2: hsl(201, 11%, 66%);
  --fs-body: 1.125rem;
  --fw-400: 400;
  --fw-600: 600;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

main {
  padding-inline: 1rem;
  margin-block-end: 10rem;
}

.site-map {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  row-gap: 2rem;
}
.site-map__item a {
  text-decoration: none;
  color: var(--neutral-color-1);
}

.btn {
  border-radius: 100px;
  padding-inline: 5rem;
  padding-block: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.btn:link, .btn:visited {
  text-decoration: none;
  color: #fff;
}
.btn--ios {
  background-color: var(--primary-color-1);
  border-bottom: 3px solid rgb(34, 146, 129);
  box-shadow: 0 5px 5px rgba(38, 186, 164, 0.38);
}
.btn--mac {
  background-color: var(--primary-color-2);
  border-bottom: 3px solid rgb(68, 80, 168);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block-start: 7rem;
  padding-block-end: 5rem;
}
.header__logo {
  width: 8rem;
}

.introductory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-block-end: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-block-end: 5rem;
}
.container__features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  margin-block-end: 10rem;
}
.container__features--2 {
  margin-block-end: 10rem;
}
.container-devices {
  margin-block-end: 10rem;
}

.content {
  margin-block-end: 3rem;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}
.features--2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.feature__desc {
  color: var(--neutral-color-2);
}

.feature-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.feature-2 img {
  margin-block-end: 2rem;
}
.feature-2__desc {
  color: var(--neutral-color-2);
}

.featured-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-block-end: 10rem;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  padding-block-start: 3rem;
  padding-block-end: 3rem;
}
.footer__col--1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 3rem;
}
.footer__col--2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.footer__col--2 a svg {
  width: 24px;
  height: 24px;
}
.footer__col--2 a svg path {
  fill: var(--neutral-color-1);
}
.footer__logo {
  width: 4rem;
  margin-block-end: 3rem;
}

/*# sourceMappingURL=style.css.map */
