:root {
  --primary-color-1: hsl(171, 66%, 44%);
  --primary-color-2: hsl(233, 100%, 69%);

  --neutral-color-1: hsl(210, 10%, 33%);
  --neutral-color-2: hsl(201, 11%, 66%);

  --fs-body: 1.125rem;
  --fw-400: 400;
  --fw-600: 600;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
}

main {
  padding-inline: 2rem;
  margin-block-end: 10rem;
}
