.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  padding-block-start: 3rem;
  padding-block-end: 3rem;

  @media only screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: flex-start;
    padding-inline: 8rem;
  }

  &__col--1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: 3rem;

    @media only screen and (min-width: 1024px) {
      flex-direction: row;
      margin-inline-end: auto;
      margin-block-end: 0;
    }
  }

  &__col--2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    a svg {
      width: 24px;
      height: 24px;

      path {
        fill: var(--neutral-color-1);

        &:hover {
          fill: var(--primary-color-1);
        }
      }
    }
  }

  &__logo {
    width: 4rem;
    margin-block-end: 3rem;

    @media only screen and (min-width: 1024px) {
      margin-block-end: 0;
      margin-inline-end: 10rem;
    }
  }
}
