.introductory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-block-end: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-block-end: 5rem;

  &__features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    margin-block-end: 10rem;

    @media only screen and (min-width: 1024px) {
      flex-direction: row;
      text-align: start;
    }

    @media only screen and (min-width: 1440px) {
      gap: 8rem;
    }

    &--2 {
      margin-block-end: 10rem;
    }

    img {
      @media only screen and (min-width: 1024px) {
        margin-inline-start: -16rem;
      }
    }
  }

  &-devices {
    margin-block-end: 10rem;

    @media only screen and (min-width: 1024px) {
      margin-block-end: 5rem;
    }

    img {
      @media only screen and (min-width: 1024px) {
        margin: 0 auto;
      }
    }
  }
}

.content {
  margin-block-end: 3rem;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;

  @media only screen and (min-width: 1024px) {
    align-items: flex-start;
  }

  &--2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    @media only screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }
}

.feature {
  &__desc {
    color: var(--neutral-color-2);
  }
}

.feature-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media only screen and (min-width: 1024px) {
    width: 30%;
  }

  img {
    margin-block-end: 2rem;
  }

  &__desc {
    color: var(--neutral-color-2);
    @media only screen and (min-width: 1024px) {
      line-height: 1.6;
    }
  }
}

.featured-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-block-end: 10rem;

  @media only screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  @media only screen and (min-width: 1024px) {
    flex-direction: row;
  }
}
