.introductory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-block-end: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-block-end: 5rem;

  &__features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    margin-block-end: 10rem;

    &--2 {
      margin-block-end: 10rem;
    }
  }

  &-devices {
    margin-block-end: 10rem;
  }
}

.content {
  margin-block-end: 3rem;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;

  &--2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

.feature {
  &__desc {
    color: var(--neutral-color-2);
  }
}

.feature-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    margin-block-end: 2rem;
  }

  &__desc {
    color: var(--neutral-color-2);
  }
}

.featured-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-block-end: 10rem;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
