.btn {
  border-radius: 100px;
  padding-inline: 5rem;
  padding-block: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: var(--fw-600);
  font-size: var(--fs-body);

  @media only screen and (min-width: 1024px) {
    padding-inline: 3rem;
  }
  &:link,
  &:visited {
    text-decoration: none;
    color: #fff;
  }

  &--ios:link,
  &--ios:visited {
    background-color: var(--primary-color-1);
    border-bottom: 3px solid rgb(34, 146, 129);
    box-shadow: 0 5px 5px rgba(38, 186, 164, 0.38);

    &:hover,
    &:focus {
      background-color: rgba(38, 186, 164, 0.7);
    }
  }

  &--mac {
    background-color: var(--primary-color-2);
    border-bottom: 3px solid rgb(68, 80, 168);

    &:hover,
    &:focus {
      background-color: rgba(97, 115, 255, 0.7);
    }
  }
}
